/* line 2, chico.scss */
body {
  font-family: 'Ubuntu', sans-serif;
  color: rgba(0, 0, 0, 0.6);
}

/* line 6, chico.scss */
a {
  color: darkgreen !important;
}
/* line 8, chico.scss */
a:hover {
  text-decoration: none;
}
/* line 11, chico.scss */
a:focus {
  outline: 0;
  outline: none;
}

/* line 16, chico.scss */
.navbar-default {
  border: none;
  padding: 20px 0px;
  border-radius: 0px;
  background-color: darkgreen !important;
}
/* line 21, chico.scss */
.navbar-default a {
  color: #fff !important;
}
/* line 24, chico.scss */
.navbar-default .navbar-nav li a {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.85;
}
/* line 30, chico.scss */
.navbar-default .navbar-nav li a i {
  font-weight: normal;
  font-size: 24px;
  margin-top: -6px;
}
/* line 36, chico.scss */
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
  color: #fff;
  opacity: 1;
}
/* line 42, chico.scss */
.navbar-default .navbar-header .navbar-brand {
  font-family: 'Pacifico', cursive;
  color: #fff;
  font-size: 37px;
  margin-top: -7px;
}
/* line 48, chico.scss */
.navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
  color: #fff;
}

/* line 55, chico.scss */
.blog {
  margin-top: 50px;
}
/* line 57, chico.scss */
.blog .blog-post {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}
/* line 61, chico.scss */
.blog .blog-post .info {
  width: 100%;
  display: table;
}
/* line 64, chico.scss */
.blog .blog-post .info .author-avatar {
  width: 36px;
  float: left;
  margin-right: 10px;
  display: block;
}
/* line 69, chico.scss */
.blog .blog-post .info .author-avatar img {
  width: 36px;
}
/* line 73, chico.scss */
.blog .blog-post .info .detail {
  display: block;
  float: left;
}
/* line 76, chico.scss */
.blog .blog-post .info .detail .name {
  padding: 0px;
  margin-top: -2px;
  font-size: 15px;
}
/* line 81, chico.scss */
.blog .blog-post .info .detail .date {
  font-size: 12px;
  margin-top: -2px;
  color: rgba(0, 0, 0, 0.4);
}
/* line 88, chico.scss */
.blog .blog-post .title {
  font-size: 29px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* line 94, chico.scss */
.blog .blog-post .title a {
  color: rgba(0, 0, 0, 0.8) !important;
}
/* line 99, chico.scss */
.blog .blog-post .content .highlight-image {
  margin-bottom: 10px;
  width: 100%;
  max-height: 180px;
  overflow: hidden;
}
/* line 104, chico.scss */
.blog .blog-post .content .highlight-image img {
  width: 100%;
}
/* line 108, chico.scss */
.blog .blog-post .content .read-more {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4) !important;
}
/* line 113, chico.scss */
.blog .blog-post .info-bottom {
  width: 100%;
  font-size: 15px;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  padding: 25px 0px;
  display: table;
}
/* line 119, chico.scss */
.blog .blog-post .info-bottom .likes {
  float: left;
}
/* line 122, chico.scss */
.blog .blog-post .info-bottom .comments, .blog .blog-post .info-bottom .bookmark {
  margin-left: 10px;
  float: right;
}
